.main{
    background-color: #282D35;
    width: 550px;
    height: 459px;
    padding-top: 30px;
    color: #fff;
    padding: 57px 27px;
    background-image: url("../assets/reactjs-icon 2.png");
    background-repeat: no-repeat;
    background-position: right 75%;
    /* background-position-x: right ;
    background-position-y: 75%; */
}

h1{
    font-size: 39px;
}

ul{
    /* padding: 10px 50px; */
    /* width: 50  0px; */
    max-width: 450px;
    font-size: 46px; 
}
li{
    font-size: 16px;
    margin: 16px;
    /* font-weight: 600; */

}
li::marker{
    font-size: 1.4rem;
    color: #61DAFB;
} 